@use '../Abstracts/index.scss' as *;

    .landing-page {
        @include flex-center;
        flex-direction: column;
        width: 100%;
        // height: 100vh;
        background-color: var(--background);
        @include respond-to(mobile){
            width: 100%;
            height: auto;
        }
        @include respond-to(tablet){
            width: 100%;
            height: auto;
        }
    }

    .intro {
        @include flex-between;
        flex-direction: column;
        width: 100%;
        height: auto;
        background-color: var(--background);
        gap: 40px;

        @include respond-to(mobile){
            gap: 20px;
            height: auto;
        }

        @include respond-to(tablet){
            gap: 30px;
            height: auto;
        }

        @include respond-to(laptop){
            gap: 30px;
            height: auto;
        }
    }