@use '../Abstracts/index.scss' as *;

  .customers {
        @include flex-center;
        flex-direction: row;
        width: 100%;
        height: 390px;
        background-color: $silver;
        gap: 70px;
        padding-top: 10px;

        @include respond-to(mobile){
            width: 100%;
            flex-direction: column;
            height: auto;
            gap: 20px;
        }

        @include respond-to(tablet){
            width: 100%;
            flex-direction: row;
            height: auto;
            gap: 20px;
        }

        img{
            height: 92%;

            @include respond-to(mobile){
                width: 80%;
                height: 90%;
            }

            @include respond-to(tablet){
                width: 70%;
                height: 80%;
            }
        }

        .customers-text {
            @include structure($display: flex, $justify-content: space-between, $align-items: start, $flex-direction: column);
            width: 700px;
            gap: 20px;

            @include respond-to(mobile){
                width: 100%;
                padding: 10px;
                align-items: center;
            }

            p {
                font-family: $primary-font;
                font-size: $body2-size;
                font-weight: 500;
                color: $grey;
                margin: 0;

                @include respond-to(mobile){
                    width: 90%;
                    font-size: $body4-size;
                    font-weight: 400;
                    text-align: justify;
                }

                @include respond-to(tablet){
                    width: 95%;
                    font-size: $body3-size;
                    font-weight: 400;
                    text-align: justify;
                }
            }

            h6 {
                font-family: $primary-font;
                font-size: $headline4-size;
                font-weight: 600;
                color: var(--primary);
                margin: 0;

                @include respond-to(tablet){
                    font-size: $headline5-size;
                }
            }

            span {
                font-family: $primary-font;
                font-size: $body3-size;
                font-weight: 400;
                color: $grey; 

                @include respond-to(tablet){
                    font-size: $body4-size;
                }
            }

            .customers-logo {
                @include flex-between;
                flex-direction: row;
                width: 100%;

                @include respond-to(mobile){
                    width: 100%;
                    @include flex-around;

                    img{
                        width: 30px;
                        height: 30px;
                    }
                }

                @include respond-to(tablet){
                    width: 93%;
                    @include flex-between;

                    img{
                        width: 30px;
                        height: 30px;
                    }
                }

                .no_bg-button {
                    @include apply-button($primary-MediumIcon_no_bg);
                    @include button-hover($primary, $white);

                    @include respond-to(mobile){
                        display: none;
                    }

                     @include respond-to(tablet){
                        display: none;
                    }
                }
            }
        }
    }

    .last-section {
        @include flex-center;
        flex-direction: column;
        width: 100%;
        height: 620px;
        background-color: var(--background);
        gap: 30px;

        @include respond-to(mobile){
            height: auto;
        }

        @include respond-to(tablet){
            height: auto;
        }

        .last-section-text {
            @include flex-center;
            flex-direction: column;
            width: 45%;
            text-align: center;
            gap: 20px;

            @include respond-to(mobile){
                    width: 90%;
                    text-align: justify;
                }

            @include respond-to(tablet){
                    width: 70%;
                    text-align: justify;
                }

            h1 {
                font-family: $primary-font;
                font-size: $headline2-size;
                font-weight: 600;
                color: $d-grey;
                margin: 0;

                @include respond-to(mobile){
                    font-size: $headline4-size;
                }

                @include respond-to(tablet){
                    font-size: $headline3-size;
                }
            }

            p {
                font-family: $primary-font;
                font-size: $body2-size;
                font-weight: 400;
                color: $grey;
                margin: 0;

                @include respond-to(mobile){
                    font-size: $body4-size;
                }

                @include respond-to(tablet){
                    font-size: $body3-size;
                }
            }
        }
        .cards_container {
            display: flex;
            align-items: start;
            justify-content: space-around;
            flex-direction: row;
            width: 85%;
            height: auto;

            @include respond-to(mobile){
                width: 100%;
                flex-direction: column;
                align-items: center;
            }

            @include respond-to(tablet){
                width: 100%;
                gap: 20px;
            }

            .cards{
                @include flex-around;
                flex-direction: column;
                position: relative;
                height: 90%;
                
                @include respond-to(mobile){
                    height: 300px;
                }
            }

            img{
                width: 348px;
                @include respond-to(mobile){
                    width: 258px;
                    position: relative;
                }

                @include respond-to(tablet){
                    width: 208px;
                    position: relative;
                }

                @include respond-to(laptop){
                    width: 258px;
                    position: relative;
                }
            };

            .mini-card{ 
                @include flex-around;
                flex-direction: column;
                text-align: center;
                width: 290px;
                min-height: 176px;
                background-color: $silver;
                border-radius: 12px;
                box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
                position: relative;
                transform: translate(0%, -65%);
                z-index: 2;
                padding: 10px;

                @include respond-to(mobile){
                    width: 188px;
                    min-height: 130px;
                }

                @include respond-to(tablet){
                    width: 158px;
                    min-height: 130px;
                }

                @include respond-to(laptop){
                    width: 178px;
                    min-height: 130px;
                }

                p {
                font-family: $primary-font;
                font-size: $headline4-size;
                font-weight: 600;
                color: $grey;

                @include respond-to(mobile){
                    font-size: $body2-size;
                    font-weight: 300;
                }
                @include respond-to(tablet){
                    font-size: $body4-size;
                    font-weight: 300;
                }

                @include respond-to(laptop){
                    font-size: $body2-size;
                    font-weight: 300;
                }
                }

                .no_bg-button {
                    @include apply-button($primary-MediumIcon_no_bg);
                    @include button-hover($primary, $white);
                    font-size: 12px;
                }
            }

        }
    }