@use '../Abstracts/index.scss' as *;

.footer-wrapper {
        @include flex-start;
        flex-direction: column;
        width: 100%;
        height: 628px; 
        background-color: $silver;

        @include respond-to(mobile){
            width: 100%;
            height: auto;
            gap: 20px;
        }

        @include respond-to(tablet){
            width: 100%;
            height: auto;
            gap:30px;
        }

        @include respond-to(laptop){
            width: 100%;
            height: auto;
            gap:30px;
        }

        .footer-content {
            @include flex-around;
            flex-direction: column;
            width: 50%;
            height: 300px;
            text-align: center;
            
            @include respond-to(mobile){
                width: 100%;
                height: auto;
                gap: 20px;
            }

            @include respond-to(tablet){
                width: 100%;
                height: auto;
                gap: 20px;
            }

            @include respond-to(laptop){
                width: 100%;
                height: auto;
                gap: 20px;
            }

            h1{
                @include h($headline1-size);
                
                @include respond-to(mobile){
                    font-size:$headline4-size;
                }

                @include respond-to(tablet){
                    font-size:$headline2-size;
                }

            }

            .primary-button {
                @include apply-button($primary-MediumIcon);
                @include button-hover;

                @include respond-to(mobile){
                    @include apply-button($primary-MediumIcon-mobile);
                    @include button-hover;
                }
                @include respond-to(tablet){
                    @include apply-button($primary-MediumIcon-tablet);
                    @include button-hover;
                }
            }
        }
    }

    .footer-main{
        @include flex-around;
        flex-direction: row;
        width: 100%;
        height: 328px;
        background-color: $black;

        @include respond-to(mobile){
            height: auto;
        }

        @include respond-to(tablet){
            height: auto;
        }

        .footer-logo{
            display: flex;
            justify-content: space-between;
            align-items: start;
            flex-direction: column;
            width: 350px;
            height: 180.5px;
            
            @include respond-to(mobile){
                align-items: center;
                justify-content: center;
                gap: 10px;

                .logo{
                    height: 20px;
                    width: 120px;
                }
            }

            @include respond-to(tablet){
                align-items: center;
                justify-content: center;
                width: 50%;
                gap: 10px;

                .logo{
                    height: 20px;
                    width: 120px;
                }
            }

            @include respond-to(laptop){
                margin-left: 20px;
            }

            .footer-text{
                flex-direction: column;
                width: 100%;
                text-align: start;

                @include respond-to(mobile){
                    text-align: center;
                }

                @include respond-to(tablet){
                    text-align: center;
                }

                p{
                    font-family: $primary-font;
                    font-size: $body2-size;
                    font-weight: 300;
                    color: $silver;
                    margin: 10px;

                    @include respond-to(mobile){
                        font-size: $body4-size;
                    }

                }
            }

            .social-icons{
                @include flex-between;
                flex-direction: row;
                width: 50%;
            }
        }

        .footer-nav{
            display: flex;
            justify-content: space-between;
            align-items: start;
            flex-direction: row;
            width: 635px;
            height: 200px;

            @include respond-to(mobile){
                    display: none;
                }

            @include respond-to(tablet){
                    width: 50%;
                }

            .list{
                display: flex;
                justify-content: space-between;
                align-items: start;
                flex-direction: column;
                width: 160px;
                height: 200px;
                text-align: start;

                @include respond-to(tablet){
                    display: none;
                }

                h1{
                    @include h($headline4-size, $white);
                    margin-bottom: 10px;
                }

                p{
                    font-family: $primary-font;
                    font-size: $body2-size;
                    font-weight: 300;
                    color: $silver;
                    margin: 0;
                }
            }

            .email{
                display: flex;
                width: 255px;
                justify-content: start;
                align-items: start;
                flex-direction: column;
                gap: 15px;

                @include respond-to(tablet){
                    width: 65%;
                    justify-content: center;
                    align-items: start;
                    margin-top: 25px;
                }


                h1{
                    @include h($headline4-size, $white);
                    margin-bottom: 10px;
                }

                     .send-input-wrapper {
                        position: relative;
                        width: 255px;

                        @include respond-to(laptop){
                           width: 245px; 
                        }
                        }

                        .send-input {
                            width: 240px;
                            height: 40px;
                            font-size: 1rem;
                            border: none;
                            border-radius: 10px;
                            outline: none;
                            background-color: $d-grey;
                            padding: 0px 10px;

                            @include respond-to(laptop){
                                width: 225px; 
                            }

                        }

                        .send-button {
                            position: absolute;
                            right: 0.5rem;
                            top: 50%;
                            transform: translateY(-50%);
                            font-size: 1.25rem;
                            border: none;
                            background: none;
                            cursor: pointer;
                        }
                }
            }
            
    }