@use '../Abstracts/index.scss' as *;

.footer-wrapper {
        @include flex-start;
        flex-direction: column;
        width: 100%;
        height: 628px; 
        background-color: $silver;

        .footer-content {
            @include flex-around;
            flex-direction: column;
            width: 50%;
            height: 300px;
            text-align: center;

            h1{
                @include h($headline1-size);
            }

            .primary-button {
                @include apply-button($primary-MediumIcon);
                @include button-hover;
            }
        }
    }

    .footer-main{
        @include flex-around;
        flex-direction: row;
        width: 100%;
        height: 328px;
        background-color: $black;

        .footer-logo{
            display: flex;
            justify-content: space-between;
            align-items: start;
            flex-direction: column;
            width: 350px;
            height: 180.5px;

            .footer-text{
                flex-direction: column;
                width: 100%;
                text-align: start;

                p{
                    font-family: $primary-font;
                    font-size: $body2-size;
                    font-weight: 300;
                    color: $silver;
                    margin: 10px;

                }
            }

            .social-icons{
                @include flex-between;
                flex-direction: row;
                width: 50%;
            }
        }

        .footer-nav{
            display: flex;
            justify-content: space-between;
            align-items: start;
            flex-direction: row;
            width: 635px;
            height: 200px;

            .list{
                display: flex;
                justify-content: space-between;
                align-items: start;
                flex-direction: column;
                width: 160px;
                height: 200px;
                text-align: start;

                h1{
                    @include h($headline4-size, $white);
                    margin-bottom: 10px;
                }

                p{
                    font-family: $primary-font;
                    font-size: $body2-size;
                    font-weight: 300;
                    color: $silver;
                    margin: 0;
                }
            }

            .email{
                display: flex;
                width: 255px;
                justify-content: start;
                align-items: start;
                flex-direction: column;
                gap: 15px;

                h1{
                    @include h($headline4-size, $white);
                    margin-bottom: 10px;
                }

                     .send-input-wrapper {
                        position: relative;
                        width: 255px;
                        // margin: auto;
                        }

                        .send-input {
                            width: 240px;
                            height: 40px;
                            font-size: 1rem;
                            border: none;
                            border-radius: 10px;
                            outline: none;
                            background-color: $d-grey;
                            padding: 0px 10px
                        }

                        .send-button {
                            position: absolute;
                            right: 0.5rem;
                            top: 50%;
                            transform: translateY(-50%);
                            font-size: 1.25rem;
                            border: none;
                            background: none;
                            cursor: pointer;
                        }
                }
            }
            
    }