@use '../Abstracts/index.scss' as *;

.text{
        @include flex-around;
        flex-direction: row;
        width: 100%;
        height: 300px;
        background-color: $silver;

        @include respond-to(mobile){
            flex-direction: column;
            width: 100%;
        }

        @include respond-to(tablet){
            width: 100%;
            gap: 40px;
        }

        .text-center {
            @include flex-start;
            flex-direction: column;
            width: 540px;

            @include respond-to(tablet){
                width: 50%;
                padding: 20px;
            }

            h1 {
                font-family: $primary-font;
                font-size: $headline2-size;
                font-weight: 600;
                color: $d-grey;
                margin: 0;

                @include respond-to(mobile){
                    font-size: $headline4-size;
                    text-align: center;
                    margin-top: 20px;
                }

                @include respond-to(tablet){
                    font-size: $headline3-size;
                }
            }

            span {
                font-family: $primary-font;
                font-weight: 600;
                color: $primary;
            }

            p{
                font-family: $primary-font;
                font-size: $body2-size;
                font-weight: 400;
                color: $grey;

                @include respond-to(mobile){
                    font-size: $body4-size;
                }

                @include respond-to(tablet){
                    font-size: $body3-size;  
                }
            };
        }

        .text-data {
            @include flex-around;
            flex-wrap: wrap; 
            width: 600px;  

            @include respond-to(mobile){
                width: 80%;
                img{
                    width: 30px;
                }
            }

            @include respond-to(tablet){
                @include flex-center;
                width: 60%;
                img{
                    width: 30px;
                }
            }

            @include respond-to(laptop){
                @include flex-center;
                width: 60%;
                img{
                    width: 30px;
                }
            }

        .data{
            @include flex-around;
            flex-direction: row;
            @include respond-to(mobile){
                width: 120px;   
            }

            @include respond-to(tablet){
                width: 170px;   
            }
        
            .text-data1{
                
                flex-direction: column;
                width: 180px;
                text-align: start;
                padding: 30px 15px;

                h1 {
                    font-family: $primary-font;
                    font-size: $headline3-size;
                    font-weight: 700;
                    color: $d-grey;
                    margin: 0;

                    @include respond-to(mobile){
                        font-size: $headline5-size;
                        font-weight: 700;
                    }

                    @include respond-to(tablet){
                        font-size: $headline4-size;
                        font-weight: 700;
                    }

                }

                p {
                    font-family: $primary-font;
                    font-size: $body3-size;
                    font-weight: 400;
                    color: $grey;
                    margin: 0;

                    @include respond-to(mobile){
                        font-size: $body4-size;
                    }

                    @include respond-to(tablet){
                        font-size: $body3-size;
                    }
                }
            }
        }
        }
    }