@use '../Abstracts/index.scss' as *;

.wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        width: 100%;
        height: 84px; 
        background-color: $silver;

        & .nav-ele {
            display: flex;
            justify-content: center;
            align-items: center;

            ul {
                @include flex-around;
                flex-direction: row;
                text-decoration: none;
                gap: 50px;
                list-style: none;

                a {
                    font-family: $primary-font;
                    font-size: $body2-size;
                    color: $text-gray;
                    cursor: pointer;

                    @include button-hover($hover-bg: none, $hover-color: $primary);
                }
            }
        }
    }

    .logo {
        width: 155px;
        height: 24px;
    }

    .log_sign {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .login {
            width: 77px;
            height: 40px;
            background-color: $silver;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            .primary-button {
                @include apply-button($primary-small_no_bg);
                // margin-top: 40px;
                @include button-hover($silver, $primary-dark, $underline:true);
            }
        }

        .signup {
            width: auto;
            height: 40px;
            // background-color: $primary;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            // padding: 10px 20px;
            cursor: pointer;
            

            .primary-button {
                @include apply-button($primary-small);
                // margin-top: 40px;
                @include button-hover;
            }
        }
    }