/*Text Colors*/
$black: #263238;
$d-grey: #4D4D4D;       // Dark Grey
$grey: #717171;
$l-grey: #89939E;       // Light Grey
$grey-blue: #ABBED1;
$text-gray: #18191F;

/* Background Colors */
$silver: #F5F7FA;
$white: #FFFFFF;
$black:#263238;


/* Primary Colors */
$primary: #4CAF4F;
$primary-dark: #388E3B;     


$primary-font : "Inter", sans-serif;


/* Headlines */

$headline1-size: 64px;
$headline2-size: 36px;
$headline3-size: 28px;
$headline4-size: 20px;

/* Body Text */
$body1-size: 18px;
$body2-size: 16px;
$body3-size: 14px;
$body4-size: 12px;

