/* Headlines */

$headline1-size: 64px;
$headline2-size: 36px;
$headline3-size: 28px;
$headline4-size: 20px;

/* Body Text */
$body1-size: 18px;
$body2-size: 16px;
$body3-size: 14px;
$body4-size: 12px;

